<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/8c991a30-a927-4fe7-a1cb-bf3ad76158bd/resourceGroups/CustomerOnboarding/providers/Microsoft.Web/sites/chatbotcustomeronboarding</ResourceId>
    <ResourceGroup>CustomerOnboarding</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://chatbotcustomeronboarding.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>chatbotcustomeronboarding.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>chatbotcustomeronboarding</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$chatbotcustomeronboarding</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>